<div class="wrapper">
    <div class="chat">
        <div class="chat__header">
            <div class="chat__users">
                <span>Users in chat: <span class="chat__users-count">0</span></span>
            </div>
        </div>
        <div class="chat__messages-wrapper">
            <ul class="chat__messages">
            </ul>
        </div>
        <form class="chat__form">
            <input type="text" class="chat__input" placeholder="Type your message here...">
            <button type="submit" class="chat__submit">Send</button>
        </form>
    </div>
</div>